@mixin disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@mixin main-font {
    font-family: 'Comfortaa';
    text-align: center;
    font-size: 14px;
}
